<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarioKartTournamentOrganizer"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MarioKartTournamentOrganizer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirebaseDemoActivity"
            android:parentActivityName=".homeScreenActivity"/>
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".homeScreenActivity"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".CreateACTActivity"
            android:parentActivityName=".homeScreenActivity"/>
        <activity
            android:name=".UserACTActivity"
            android:parentActivityName=".homeScreenActivity"/>
        <activity
            android:name=".adminActViewActivity"
            android:parentActivityName=".homeScreenActivity"/>
        <activity
            android:name=".EnterResultsActivity"
            android:parentActivityName=".adminActViewActivity"/>
        <activity
            android:name=".CameraActivity"
            android:parentActivityName=".EnterResultsActivity"/>
    </application>

</manifest>